<section class="section brd-btm" id="basic">
  <div class="row">
    <div class="col-sm-6 clear-mrg">
      <h2 class="title-thin text-muted">基本信息</h2>

      <dl class="dl-horizontal clear-mrg">
        <dt class="text-upper">性别</dt>
        <dd>{{ site.gender }}</dd>

        <dt class="text-upper">出生日期</dt>
        <dd>
          {{ site.birthday.day }} {{ site.birthday.month }} {{ site.birthday.year }}
        </dd>

        <dt class="text-upper">手机</dt>
        <dd>{{ site.phone }}</dd>

        <dt class="text-upper">微信</dt>
        <dd>{{ site.WeChat }}</dd>

        <dt class="text-upper">QQ</dt>
        <dd>{{ site.QQ }}</dd>

        <dt class="text-upper">e-mail</dt>
        <dd>
          {% for email in site.emails %}
          <a href="mailto:{{ email }}">{{ email }}</a>
          {% endfor %}
        </dd>

        <dt class="text-upper">GitHub</dt>
        <dd>
          <a href="https://{{ site.github.url }}" target="_blank">{{ site.github.name }}</a>
        </dd>

        <dt class="text-upper">LeetCode</dt>
        <dd>
          <a href="https://{{ site.leetcode.url }}" target="_blank">{{ site.leetcode.name }}</a>
        </dd>

        <dt class="text-upper">知乎</dt>
        <dd>
          <a href="https://{{ site.zhihu.url }}" target="_blank">{{ site.zhihu.name }}</a>
        </dd>

        <dt class="text-upper">英语</dt>
        <dd>{{ site.English }}</dd>

        <dt class="text-upper">GPA</dt>
        <dd>{{ site.GPA }}</dd>
      </dl>
    </div>
  </div>
</section>
