<section class="section brd-btm" id="basic">
  <div class="row">
    <div class="col-sm-6 clear-mrg">
      <h2 class="title-thin text-muted">联系方式</h2>

      <dl class="dl-horizontal clear-mrg">
        <dt class="text-upper">手机 <span class="ace-icon ace-icon-phone"></span></dt>
        <dd>{{ site.phone }}</dd>

        <dt class="text-upper">微信</dt>
        <dd>{{ site.WeChat }}</dd>

        <dt class="text-upper">QQ</dt>
        <dd>{{ site.QQ }}</dd>

        <dt class="text-upper">e-mail <span class="ace-icon ace-icon-contact"></span></dt>
        <dd>
          {% for email in site.emails %}
          <a href="mailto:{{ email }}">{{ email }}</a>
          {% endfor %}
        </dd>

        <dt class="text-upper">GitHub <span class="ace-icon ace-icon-github"></span></dt>
        <dd>
          <a href="https://{{ site.github.url }}" target="_blank">{{ site.github.name }}</a>
        </dd>

        <dt class="text-upper">LeetCode</dt>
        <dd>
          <a href="https://{{ site.leetcode.url }}" target="_blank">{{ site.leetcode.name }}</a>
        </dd>

        <dt class="text-upper">知乎</dt>
        <dd>
          <a href="https://{{ site.zhihu.url }}" target="_blank">{{ site.zhihu.name }}</a>
        </dd>
      </dl>
    </div>
  </div>
</section>
