<section class="section brd-btm" id="competition">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">竞赛 & 奖惩经历</h2>
      <div class="education">
        {% for comp in site.competitions reversed %}
        <div class="education-box">
          {% if comp.yearmonth %}
          <time class="education-date education-date-month">
            <span>{{ comp.yearmonth }}</span>
          </time>
          {% else %}
          <time class="education-date education-date-year">
            <span><strong class="text-upper">{{ comp.year }}</strong></span>
          </time>
          {% endif %} {% for reward in comp.rewards %}
          <p>
            {{ reward.name }}
            <strong>{{ reward.rank }}</strong>
          </p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
