<section class="section brd-btm" id="competition">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">获奖情况</h2>
      <br />
      <div class="education">
        <div class="education-box">
          <time class="education-date education-date-month" datetime="12">
            <span>Dec</span>
          </time>
          <p>
            <strong>全国大学生“腾讯杯”人机debug测试大赛总决赛</strong>
            <strong>第一名</strong>
          </p>
          <p>
            <strong>全国大学生软件测试大赛开发者测试全国总决赛</strong>
            <strong>二等奖</strong>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="11">
            <span>Nov</span>
          </time>
          <p>
            全国大学生软件测试大赛开发者测试广东省赛区省赛
            <strong>二等奖</strong>
          </p>
          <p>
            全国大学生软件测试大赛嵌入式测试广东省赛区省赛
            <strong>三等奖</strong>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="04">
            <span>Apr</span>
          </time>
          <p>
            第三届嘉诚-高顿杯广东省大学生物流设计大赛决赛
            <strong>一等奖</strong>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-year" datetime="2019">
            <span><strong class="text-upper">2019</strong></span>
          </time>
          <p>暨南大学优秀干部奖学金</p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="06">
            <span>Jun</span>
          </time>
          <p>
            “赢在创新”暨南大学创新大赛第十一季总决赛 <strong>一等奖</strong>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="05">
            <span>May</span>
          </time>
          <p>
            “赢在创新”暨南大学创新大赛暨暨南大学创业路演大会
            <strong>最佳项目奖</strong>
          </p>
          <p>“挑战杯·创青春”广东省大学生创业大赛 <strong>铜奖</strong></p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="04">
            <span>Apr</span>
          </time>
          <p>暨南大学第六届ACM程序设计大赛 <strong>第五名</strong></p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="01">
            <span>Jan</span>
          </time>
          <p>暨南大学新生ACM程序设计大赛 <strong>第五名</strong></p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-year" datetime="2018">
            <span><strong class="text-upper">2018</strong></span>
          </time>
          <p>暨南大学优秀干部奖学金</p>
        </div>
      </div>
    </div>
  </div>
</section>
