<section class="section brd-btm" id="contact">
  <div class="row">
    <div class="col-sm-6 clear-mrg">
      <h2 class="title-thin text-muted">联系方式</h2>

      <dl class="dl-horizontal clear-mrg">
        <dt class="text">手机 <span class="ace-icon ace-icon-phone"></span></dt>
        <dd>{{ site.phone }}</dd>

        <dt class="text">微信 <span class="ace-icon ace-icon-wechat"></span></dt>
        <dd>{{ site.wechat }}</dd>

        <dt class="text">QQ <span class="ace-icon ace-icon-qq"></span></dt>
        <dd>{{ site.qq }}</dd>

        <dt class="text">e-mail <span class="ace-icon ace-icon-contact"></span></dt>
        <dd>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </dd>

        <dt class="text">GitHub <span class="ace-icon ace-icon-github"></span></dt>
        <dd>
          <a href="https://{{ site.github.url }}" target="_blank">{{ site.github.name }}</a>
        </dd>

        <dt class="text">LeetCode</dt>
        <dd>
          <a href="https://{{ site.leetcode.url }}" target="_blank">{{ site.leetcode.name }}</a>
        </dd>

        <dt class="text">知乎</dt>
        <dd>
          <a href="https://{{ site.zhihu.url }}" target="_blank">{{ site.zhihu.name }}</a>
        </dd>
      </dl>
    </div>
  </div>
</section>
