<section class="section brd-btm" id="education">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">教育经历</h2>

      <div class="ref-box hreview">
        <div class="ref-avatar">
          <img
            alt=""
            src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}"
            class="avatar avatar-54 photo"
            height="54"
            width="54"
          />
        </div>

        <div class="ref-info">
          <div class="ref-author">
            <strong>{{ site.school }}</strong>
            <span
              >2017 - Now | {{ site.faculty }} {{ site.department }} {{
              site.major }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
