<section class="section brd-btm" id="experience">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">实践经历</h2>
      <br />
      <div class="education">
        <div class="education-box">
          <time class="education-date" datetime="2019-06T2019-12">
            <span
              >Jun <strong class="text-upper">2019</strong> - Dec
              <strong>2019</strong></span
            >
          </time>
          <h3>物流系统运维</h3>
          <span class="education-company"
            >GetU 项目&nbsp;&nbsp;|&nbsp;&nbsp;时丰物流有限公司</span
          >
          <ul>
            <li>
              <p>
                基于
                <a href="https://github.com/Unitech/pm2">pm2</a>、<a
                  href="https://github.com/foreversd/forever"
                  >forever</a
                >
                等进程管理工具监控业务服务器资源负载、记录异常日志、管理定时任务
              </p>
            </li>
            <li>
              <p>协助完成物流系统迁移、部署等工作</p>
            </li>
          </ul>
        </div>

        <div class="education-box">
          <time class="education-date" datetime="2018-06T2019-06">
            <span
              >Jun <strong class="text-upper">2018</strong> - Jun
              <strong>2019</strong></span
            >
          </time>
          <h3>后端工程师</h3>
          <span class="education-company"
            >货多多集运项目&nbsp;&nbsp;|&nbsp;&nbsp;广州进兴网络科技有限公司（技术合伙人）</span
          >
          <ul>
            <li>
              <p>
                基于
                <a href="https://github.com/expressjs/express">express</a>
                构建<strong>跨境物流服务（to C）平台</strong
                >，支撑起十万级别的总用户量
              </p>
            </li>
            <li>
              <p>
                使用
                <a href="https://github.com/mongodb/mongo">MongoDB</a>
                +
                <a href="https://github.com/Automattic/mongoose">mongoose</a>
                搭建<strong>集运业务数据库与 ORM</strong>
              </p>
            </li>
            <li>
              <p>
                参照菜鸟驿站业务模型设计并实现了一套可用的<strong>快递仓储管理系统</strong>，同时适配
                PDA 设备编写了部分前端页面
              </p>
            </li>
            <li>
              <p>
                利用机器学习技术设计并训练了一个<strong>货架位置推荐算法模型</strong>，并通过使用
                <a href="https://www.tensorflow.org/js">TensorFlow.js</a>
                成功将其部署到快递入库设备上
              </p>
            </li>
            <li>
              <p>
                基于
                <a href="https://github.com/expressjs/express">express</a> +
                <a href="https://github.com/koajs/koa">koa</a> 搭建了一套
                <strong>RESTful 风格的业务数据统计 API</strong
                >，并在遇到性能瓶颈的时期通过<strong>数据库查询优化技术</strong>成倍提高了接口性能
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
