<section class="section brd-btm" id="experience">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">实践经历</h2>

      <div class="ref-box hreview">
        <div class="ref-avatar">
          <img
            alt=""
            src="{{ '/styles/img/experience/bytedance.jpg' | prepend: site.baseurl }}"
            class="photo"
            height="54"
            width="54"
          />
        </div>

        <div class="ref-info">
          <div class="ref-author">
            <strong>字节跳动 Data-架构</strong>
            <span>Sept 2020 - Dec 2020&nbsp;&nbsp;系统架构研发实习生</span>
          </div>

          <blockquote class="ref-cont clear-mrg">
            <p>负责抖音、TikTok 推荐系统离线数据流建设和内容理解相关工作</p>
          </blockquote>
        </div>
      </div>

      <div class="ref-box hreview">
        <div class="ref-avatar">
          <img
            alt=""
            src="{{ '/styles/img/experience/tencent.png' | prepend: site.baseurl }}"
            class="photo"
            height="54"
            width="54"
          />
        </div>

        <div class="ref-info">
          <div class="ref-author">
            <strong>腾讯 PCG/技术运营部</strong>
            <span>July 2020 - Sept 2020&nbsp;&nbsp;运营开发暑期实习生</span>
          </div>

          <blockquote class="ref-cont clear-mrg">
            <p>负责视频内容与特征中台微服务的开发、移植和重构工作：</p>
            <ul>
              <li>
                <p>移植任务管理服务，完成从 HTTP 协议到 RPC 协议的转换</p>
              </li>
              <li>
                <p>
                  重构视频下载服务，多并发场景下 QPS 提高 62%，用户等待时间降低
                  38%，单测覆盖率达 96%+，CR 评级达 A
                </p>
              </li>
            </ul>
          </blockquote>
        </div>
      </div>

      <div class="ref-box hreview">
        <div class="ref-avatar">
          <img
            alt=""
            src="{{ '/styles/img/experience/times.png' | prepend: site.baseurl }}"
            class="photo"
            height="54"
            width="54"
          />
        </div>

        <div class="ref-info">
          <div class="ref-author">
            <strong>时丰物流</strong>
            <span>Jun 2019 - Dec 2019&nbsp;&nbsp;系统运维</span>
          </div>

          <blockquote class="ref-cont clear-mrg">
            <ul>
              <li>
                <p>监控业务服务器资源负载、记录异常日志、管理定时任务</p>
              </li>
              <li>
                <p>协助完成集运物流系统迁移与部署</p>
              </li>
            </ul>
          </blockquote>
        </div>
      </div>

      <div class="ref-box hreview">
        <div class="ref-avatar">
          <img
            alt=""
            src="{{ '/styles/img/experience/jinxing.png' | prepend: site.baseurl }}"
            class="photo"
            height="54"
            width="54"
          />
        </div>

        <div class="ref-info">
          <div class="ref-author">
            <strong>进兴网络科技</strong>
            <span>Jun 2018 - Jun 2019&nbsp;&nbsp;后台开发技术合伙人</span>
          </div>

          <blockquote class="ref-cont clear-mrg">
            <ul>
              <li>
                <p>搭建 C 端跨境物流服务平台，支撑起 10w+ 级别的用户量</p>
              </li>
              <li>
                <p>基于 MongoDB 搭建集运业务数据库</p>
              </li>
              <li>
                <p>协助对接 Alipay HK 接口</p>
              </li>
              <li>
                <p>
                  参照菜⻦驿站业务模型设计并实现一套可用的快递仓储管理系统，适配快递入库设备编写了部分前端⻚面
                </p>
              </li>
              <li>
                <p>基于机器学习技术设计并训练货架位置推荐算法模型</p>
              </li>
              <li>
                <p>
                  实现了一套 RESTful ⻛格的业务数据统计
                  API，在遇到性能瓶颈的时期通过数据库查询优化技术成倍提高了接口性能
                </p>
              </li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
