<section class="section brd-btm" id="experience">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">实践经历</h2>
      <br />
      <div class="education">
        <div class="education-box">
          <time class="education-date" datetime="2019-06T2019-12">
            <span
              >Jun <strong class="text-upper">2019</strong> - Dec
              <strong>2019</strong></span
            >
          </time>
          <h3>系统运营维护顾问</h3>
          <span class="education-company"
            >物流系统运维&nbsp;&nbsp;|&nbsp;&nbsp;时丰物流有限公司</span
          >
        </div>

        <div class="education-box">
          <time class="education-date" datetime="2018-06T2019-06">
            <span
              >Jun <strong class="text-upper">2018</strong> - Jun
              <strong>2019</strong></span
            >
          </time>
          <h3>技术合伙人 / 后端系统架构师</h3>
          <span class="education-company"
            >物流系统开发与维护&nbsp;&nbsp;|&nbsp;&nbsp;广州进兴网络科技有限公司</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
