<section class="section brd-btm" id="portfolio">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">项目经历</h2>
      <div class="education">
        {% for port in site.portfolios reversed %}
        <div class="education-box">
          <time class="education-date education-date-month">
            <span>{{ port.yearmonth }}</span>
          </time>
          {% for proj in port.projects %}
          <p>
            <strong>{{ proj.name }}</strong>
            {% for desc in proj.descriptions %}
            <br />
            <span>{{ desc }}</span>
            {% endfor %}
          </p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- .section -->
