<section class="section" id="portfolio">
  <h2 class="title-thin text-muted">个人项目</h2>
  <div class="pf-wrap">
    <div class="pf-grid">
      <div class="pf-grid-sizer"></div>
      <!-- used for sizing -->

      <div class="pf-grid-item photography">
        <div class="project">
          <figure class="portfolio-figure">
            <img
              src="{{ '/styles/img/portfolio/jnu-jwxt-captcha-breaker.jpg' | prepend: site.baseurl }}"
              alt=""
            />
          </figure>
          <div class="portfolio-caption text-center">
            <div class="valign-table">
              <div class="valign-cell">
                <h2 class="text-upper">验证码解析模型</h2>
                <p>
                  基于 TensorFlow.js 实现的暨南大学教务系统验证码解析程序。
                </p>
                <a
                  href="https://github.com/azxj/jnu-jwxt-captcha-breaker"
                  class="pf-btn-view btn btn-primary"
                  >详情</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .pf-grid-item -->

      <div class="pf-grid-item design">
        <div class="project">
          <figure class="portfolio-figure">
            <img
              src="{{ '/styles/img/portfolio/gokoa.jpg' | prepend: site.baseurl }}"
              alt=""
            />
          </figure>

          <div class="portfolio-caption text-center">
            <div class="valign-table">
              <div class="valign-cell">
                <h2 class="text-upper">GoKoa</h2>
                <p>Koa 风格的、基于 Go 的 web 服务器框架。</p>
                <a
                  href="https://github.com/azxj/gokoa"
                  class="pf-btn-view btn btn-primary"
                  target="_blank"
                  >详情</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .pf-grid-item -->

      <div class="pf-grid-item photography">
        <div class="project">
          <figure class="portfolio-figure">
            <img
              src="{{ '/styles/img/portfolio/matlab-deep-learning.jpg' | prepend: site.baseurl }}"
              alt=""
            />
          </figure>

          <div class="portfolio-caption text-center">
            <div class="valign-table">
              <div class="valign-cell">
                <h2 class="text-upper">《MATLAB Deep Learning》源代码</h2>
                <p>提供教材《MATLAB Deep Learning》的 Go 与 R 语言支持。</p>
                <a
                  href="https://github.com/azxj/matlab-deep-learning"
                  class="pf-btn-view btn btn-primary"
                  target="_blank"
                  >详情</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .pf-grid-item -->
    </div>
  </div>
</section>
<!-- .section -->
