<section class="section brd-btm" id="portfolio">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">项目经历</h2>
      <div class="education">
        <div class="education-box">
          <time class="education-date education-date-month" datetime="2020-08">
            <span>2020.8</span>
          </time>
          <p>
            <strong>基于 DNN 划分的低时延车辆边缘协同计算服务</strong>
            <br />
            <span>系统架构设计 & 基于 socket 的 C/S 端程序实现</span>
            <br />
            <span>赢得 2020 年中国高校计算机大赛-网络技术挑战赛 一等奖</span>
          </p>
          <p>
            <strong>基于 QUIC 的 SDN 网络交互协议优化研究与实现</strong>
            <br />
            <span>跨语言开源协议库移植</span>
            <br />
            <span>作为大创项目立项</span>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="2020-07">
            <span>2020.7</span>
          </time>
          <p>
            <strong
              >基于 TensorFlow.js 的移动端图像识别游戏 Emoji Hunter</strong
            >
            <br />
            <span>机器学习模型选型与落地 & 超参数调优 & 游戏前端页面开发</span>
            <br />
            <span>在 机器学习与神经网络 课程中获得满分</span>
            <br />
            <span>2020 年“高校杯”广东省软件作品设计大赛</span>
            <br />
            <span>2020 年“华资杯”广东省大学生计算机作品赛</span>
            <br />
            <span>2020 年粤港澳大湾区 IT 应用系统开发大赛</span>
          </p>
          <p>
            <strong>bilibili 视频弹幕网站系统数据仓库设计方案</strong>
            <br />
            <span>数据仓库设计</span>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="2020-06">
            <span>2020.6</span>
          </time>
          <p>
            <strong>第三方安卓 ROM 研究</strong>
            <br />
            <span>数据收集、分析与可视化</span>
            <br />
            <span><a href="http://isceic.org/">ISCEIC</a> 第二作者</span>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="2020-04">
            <span>2020.4</span>
          </time>
          <p>
            <a href="https://github.com/azxj/gokoa"
              ><strong>Koa 风格的 Go web 框架 GoKoa</strong></a
            >
            <br />
            <span>框架设计与开发</span>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="2020-03">
            <span>2020.3</span>
          </time>
          <p>
            <a href="https://github.com/azxj/matlab-deep-learning"
              ><strong>《MATLAB DEEP LEARNING》源代码</strong></a
            >
            <br />
            <span>机器学习算法实现 & 中文文档补充</span>
          </p>
          <p>
            <a href="https://github.com/azxj/jnu-jwxt-captcha-breaker"
              ><strong>暨南大学教务系统验证码解析模型</strong></a
            >
            <br />
            <span>机器学习算法实现 & 中文文档补充</span>
          </p>
          <p>
            <strong
              >关于暨南大学学生职业规划的跨年级意见交流平台——暨望小程序</strong
            >
            <br />
            <span>小程序前后端开发</span>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="2020-02">
            <span>2020.2</span>
          </time>
          <p>
            <strong>基于 Golang Socket 的网络聊天室 chatroom</strong>
            <br />
            <span>网络通信程序开发</span>
          </p>
          <p>
            <strong>基于 JDBC 的在线电商网购管理系统 E Commerce</strong>
            <br />
            <span>数据库表结构设计 & Java GUI 程序开发</span>
          </p>
          <p>
            <strong>菜⻦驿站 126 版系统数据库设计方案</strong>
            <br />
            <span>数据库设计负责人</span>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="2019-12">
            <span>2019.12</span>
          </time>
          <p>
            <strong>跨境物流集运平台——货多多集运</strong>
            <br />
            <span>后台开发</span>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="2019-07">
            <span>2019.7</span>
          </time>
          <p>
            <a href="https://github.com/azxj/automatic-examination-system"
              ><strong>基于 C++ MVC 的自动化考试系统 AES</strong></a
            >
            <br />
            <span>网络通信程序开发</span>
          </p>
          <p>
            <strong>基于 asm 汇编语言的简易英英词典 E2E Dictionary</strong>
            <br />
            <span>汇编程序开发</span>
          </p>
        </div>

        <div class="education-box">
          <time class="education-date education-date-month" datetime="2018-02">
            <span>2018.2</span>
          </time>
          <p>
            <strong
              >基于 Java GUI 的线性代数矩阵计算器 Matrix Calculator</strong
            >
            <br />
            <span>Java GUI 程序开发</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- .section -->
