<section class="section brd-btm" id="professional">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">专业能力</h2>

      <ul>
        <li>
          熟练使用 <strong>Go 语言</strong>及其标准库，了解
          <a href="https://github.com/go-gorm/gorm">Gorm</a>、<a
            href="https://github.com/gin-gonic/gin"
            >Gin</a
          >、<a href="https://github.com/go-redis/redis">Go-Redis</a>
          等第三方库，拥有扎实的编程能力
        </li>
        <li>
          熟悉 <strong>SQL</strong> 的基本语法与
          <strong>MySQL</strong>、<strong>Redis</strong>、<strong
            >MongoDB</strong
          >
          等 SQL/NoSQL 数据库的使用方法和基本原理
        </li>
        <li>
          熟悉
          <strong>HTTP 协议</strong
          >、<strong>认证（cookie、session、JWT）</strong>、<strong>授权（OAuth）</strong>、<strong>安全</strong>、<strong>持久化</strong>等后台开发的必备知识，理解
          web 服务器框架的工作原理，了解 <strong>RESTful</strong>、GraphQL
          等风格 API 接口的设计方法
        </li>
        <li>
          了解 CAP、一致性哈希、2PC、3PC 等分布式系统理论，具备
          <strong>gRPC</strong> 及公司自研 RPC 框架的应用经验
        </li>
        <li>
          熟悉 <strong>Linux</strong> 的基本命令，在工作中有丰富的 Linux
          使用经验，熟练掌握 <strong>JavaScript</strong> 脚本编程，了解
          <strong>shell</strong>
          脚本编程
        </li>
        <li>
          熟悉 <strong>Docker</strong> 容器等虚拟化技术的基本原理，了解
          <strong>Docker Compose</strong>、<strong>Docker Swarm</strong>
          等集群管理工具的使用方法
        </li>
        <li>
          熟练掌握 <strong>Git</strong> 版本管理工具与
          <strong>GitHub / Gitee</strong>
          等代码托管平台的使用方法，拥有开源项目的贡献经验，熟悉软件开发工作流程，能够快速上手工程项目
        </li>
        <li>熟悉 <strong>Markdown / LaTeX</strong> 等文档编写工具的使用</li>
        <li>
          理解代码质量观念，拥有良好的代码品味，在日常开发中留意使用代码质量检查工具（linter）进行代码风格、提交信息等内容的自动化审查，能够理解并遵循代码风格指南文档
        </li>
        <li>
          拥有编程竞赛、软件测试竞赛与软件 debug
          竞赛的参与、获奖经历，善于在代码中快速定位并解决错误
        </li>
        <li>
          参与过开源项目的部分翻译工作（中英互译），具备一定英文文档与英文文献的阅读能力
        </li>
      </ul>
    </div>
  </div>
</section>
