<section class="section brd-btm" id="professional">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">专业能力</h2>

      <ul>
        <li>
          <p>
            熟悉
            <strong>HTTP 协议</strong
            >、<strong>认证（cookie、session、JWT）</strong>、<strong>授权（OAuth）</strong>、<strong>安全</strong>、<strong>持久化</strong>等后台开发的必备知识，理解
            web 服务器框架的工作原理
          </p>
        </li>
        <li>
          <p>
            熟练掌握 <strong>Git 版本管理工具</strong>与
            <strong>GitHub / Gitee 等代码托管平台</strong
            >的使用方法，拥有开源项目的贡献经验
          </p>
        </li>
        <li>
          <p>熟悉 <strong>Markdown / LaTeX 等文档编写工具</strong>的使用</p>
        </li>
        <li>
          <p>
            理解包管理概念，学习并使用过
            <strong>npm、yarn 等包管理工具</strong>，在 npm
            上发布过个人开发的工具包，能够协助构建企业内部 Node.js 生态
          </p>
        </li>
        <li>
          <p>具备创业公司快速迭代经验，熟悉软件开发工作流程</p>
        </li>
        <li>
          <p>拥有开源代码阅读经验，能够快速上手工程级别的软件项目</p>
        </li>
        <li>
          <p>
            理解代码质量观念，拥有良好的代码品味，在日常开发中留意使用<strong>代码质量检查工具（linter）</strong>进行代码风格、提交信息等内容的自动化审查，能够理解并遵循<strong
              >代码风格指南文档</strong
            >
          </p>
        </li>
        <li>
          <p>
            拥有编程竞赛、软件测试竞赛与软件 debug
            竞赛的参与、获奖经历，善于在代码中快速定位并解决错误
          </p>
        </li>
        <li>
          <p>
            参与过开源项目的部分翻译工作（中英互译），具备一定英文文档与英文文献的阅读能力
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
