<section class="section brd-btm" id="skill-points">
  <div class="row">
    <div class="clear-mrg">
      <h2 class="title-thin text-muted">技能点</h2>

      {% for skills in site.skills %}
      <div class="col-sm-6 clear-mrg">
        {% for skill in skills %}
        <div
          class="progress-bullets crt-animate"
          role="progressbar"
          aria-valuenow="{{ skill.points }}"
          aria-valuemin="0"
          aria-valuemax="10"
        >
          <strong class="progress-title">{{ skill.name }}</strong>
          <span class="progress-bar">
            {% for i in (1..10) %} {% if i <= skill.points %}
            <span class="bullet fill"></span>
            {% else %}
            <span class="bullet"></span>
            {% endif %} {% endfor %}
          </span>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
